#background {
  background-image: url(image/mine-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* filter: blur(10px); */
}

.container {
  text-align: center;
}

.logo img {
  width: 600px;
  /* Change image size for mobile */
  -webkit-animation-name: logo;
  animation-name: logo;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}


@-webkit-keyframes logo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.cont2 {
  text-align: center;
  display: flex;
}

.flex-child {
  flex: 1;
  /* border: 2px solid yellow; */
}

.flex-child store {
  margin-right: 20px;
}


.img {
  width: 200px;
  /* float: left; */
}